<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <% if(theme.scheme === 'Paradox') { %>
        <!-- Paradox Footer Left Section -->
        <%- partial('_partial/footer-left') %>

        <!--Copyright-->
        <div id="copyright">
            Copyright&nbsp;©&nbsp;<span year></span>&nbsp;<%- config.title %>
            <% if(theme.footer_text) { %>
                <br>
                <% if(Array.isArray(theme.footer_text)) { %>
                    <%- theme.footer_text.join('<br>') %>
                <% } else { %>
                    <%- theme.footer_text %>
                <% } %>
            <% } %>
        </div>
        <!-- Paradox Footer Right Section -->

        <div class="mdl-mini-footer--right-section">
            <% if(theme.busuanzi.all_site_uv === true) { %>
                <div>
                <!-- All Site UV -->
                <br />
                <span id="busuanzi_container_site_uv">本站访客数
                    <span id="busuanzi_value_site_uv">
                    </span>
                </span>|
                <span id="busuanzi_container_site_pv">本站总访问量
                    <span id="busuanzi_value_site_pv">
                        
                    </span>
                </span>|
                <i class="material-icons">keyboard</i>站点总字数<span class="post-count"><%= totalcount(site) %></span>
            </div>
                <% } %>
            <div>
                <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
                <div class="footer-develop-div">Theme - <a href="https://github.com/viosey/hexo-theme-material" target="_blank" class="footer-develop-a">Material</a></div>
            </div>
        </div>
    <% } %>
</footer>
